body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.header-box {
    text-align: center;
    padding: 10% 0%;
    margin-bottom: 30px;
    background-image: url("../Images/acdc4ae0de27c5fb08595ec4f50b88a2.jpg");
    background-size: cover;
}

    .header-box h1 {
        color: white;
        font-size: 5em;
        text-shadow: 2px 2px purple;
    }

    .header-box div {
        width: 60%;
        margin: 40px auto;
        color: yellow;
        font-size: 1.75em;
    }

    .header-box p {
        margin-top: 75%;
    }

.my-btn-1 {
    border-radius: 10px;
    padding: 8px;
    margin: 2px;
}

.my-btn-2 {
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 100px;
    padding: 7px;
    margin: 2px;
}

.card {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 10px lightgray;
    background-color: whitesmoke;
    margin-bottom: 30px;
}

.card-top {
    text-align: center;
}

    .card-top img {
        width: 75%;
    }

    .card-top p {
        margin: 15px 0px
    }
